.card-texts, .project-texts {
	display: grid;
	grid-template-columns: 70% 30%;
	width: 100%;

	.card-desc, .project-desc {
		position: relative;
		transform: translateY(-.3vh);
	}

	@media (max-width: 375px) {
		.card-desc, .project-desc {
			transform: translateY(-.15vh);
		}
	}

	.card-info, .project-info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 13px);
		grid-row-gap: 0px;
	}
}

.section-projects {
	margin-top: 25px;
	.project-header {

		#project-head-1 {
			transform: translateY(.7vh);
		}
	
		.project-head-text {
			display: flex;
			flex-direction: row;
			width: 100%;
			height: var(--font-size-xxl);
	
			span {
				align-self: center;
			}

			.project-head-space {
				width: 50%;
				max-width: 120px;
			}

			@media (max-width: 425px) {
				.project-head-space, .project-head-to-remove {
					display: none;
				}
			}
		}
	}

	.projects-title {
		width: 100%;
	}

	.projects-container {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 50px;
		gap: 30px;
		width: 90%;

		.project {
			position: relative;
			border-radius: 10px;
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: .6rem;
			width: var(--project-size);

			a {
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 15;
			}
		}

		.project:hover {
			background: rgba(255, 255, 255, 0.4);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(8px);
			-webkit-backdrop-filter: blur(8px);
		}
		
		.project-img {
			width: 100%;
			height: var(--project-size);
			img {
				object-fit: cover;
				width: calc(100% - 10px);
				height: calc(100% - 10px);
				border: 5px solid var(--black);
				border-radius: 5px;
				background-color: var(--black);
			}
		}

		.project-desc {
			height: 40px;
		}
	}

	@media (min-width: 1024px) {
		.projects {
			width: 75%;
		}
	}

	.project-footer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 80px;

		.project-button {
			width: 80%;
			max-width: 400px;
		}
	}
}

.project::before {
	content: "";
	position: absolute;
	width: 105%;
	height: 105%;
	top: -3%;
	filter: blur(50px);
	z-index: -1;
}

#a4ztrap-project::before {
	background: linear-gradient(to bottom right, rgba(106, 9, 19, 0.8), rgba(77, 86, 98, 0.8),  rgba(71, 70, 72, 0.8));
}
#gazo-project::before {
	background: linear-gradient(to bottom right, rgba(106, 9, 19, 0.8), rgba(77, 86, 98, 0.8),  rgba(71, 70, 72, 0.8));
}
#fave-project::before {
	background: linear-gradient(to bottom right, rgba(25, 24, 25, 0.8), rgba(11, 0, 51, 0.7),  rgba(240, 205, 50, 0.3));
}
#lybro-project::before {
	background: linear-gradient(to bottom right, rgba(212, 27, 197, 0.8), rgba(22, 21, 22, 0.6),  rgba(106, 36, 137, 0.6));
}
#chorale-project::before {
	background: linear-gradient(to bottom right, rgba(223, 214, 215, 0.8), rgba(181, 149, 93, 0.8),  rgba(242, 230, 247, 0.806));
}
#urban-party-project::before {
	background: linear-gradient(to bottom right, rgba(15, 15, 15, 0.6), rgba(20, 20, 35, 0.7),  rgba(30, 171, 221, 0.5));
}
#bekar-project::before {
	background: linear-gradient(to bottom right, rgba(234, 207, 233, 0.7), rgba(101, 101, 158, 0.8),  rgba(8, 8, 8, 0.8));
}