<div class="space"></div>
<section class="section-projects">
	<div class="projects-container">
		<div class="projects">
			<div class="projects-title">
				<h1 class="font-size-xl upper w-black text-left">Tous nous projets</h1>
			</div>
			<div *ngFor="let project of projects_data" class="project" [id]="project.path + '-project'">
				<a [ariaLabel]="'En savoir plus sur l\'événement ' 
					+ project.title" [routerLink]="project.year + '/' + project.path"></a>
				<div class="project-img">
					<img [ngSrc]="project.image_path + '/' + project.image_pres + '.webp'" 
						[alt]="'Photo de représentation de l\'événement ' + project.title" height="290" width="290">
				</div>
				<div class="project-texts">
					<div class="project-desc text-left text-top">
						<h2 class="font-size-xl upper w-black">{{ project.title }}</h2>
					</div>
					<div class="project-info">
						<div class="text-right text-top">
							<p class="font-size-s upper w-black">{{ project.location }}</p>
						</div>
						<div class="text-right text-top">
							<p class="font-size-s upper w-black">{{ project.year }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>