<div class="flex-container home-nav">
	<div class="title-container loaded">
		<h1 class="title">Qu'est ce tu fous là ?</h1>
	</div>
	<div class="home-buttons flex-container">
		<div class="home-button center-txt discover loaded blue-b">
			<a class="flex-container white-txt" aria-label="En savoir plus sur notre association almost4zutified" routerLink="/archives/">Découvrir a4z</a>
		</div>
		<div id="leave" class="home-button center-txt leave loaded grey-b" tabindex="0" aria-label="Bouton factice sortez moi de là">
			<a class="flex-container grey-txt">Sortez moi de là !</a>
		</div>
	</div>
</div>