<div class="space"></div>
<section class="section-soon">
	<div class="soon-title">
		<h1 class="font-size-xxl upper w-off-white">Prochainement</h1>
	</div>
	<p class="title font-size-l upper" style="margin: 50px 0; text-wrap: wrap; text-align: center;">Restes branché sur les réseaux.</p>
	<!-- <div class="soon-affiche">
		<img class="border-black border-rad-5" src="assets/img/a4ztrap/affiche.webp" alt="Affiche de la soirée a4z trap">
	</div>
	<div class="soon-button-container">
		<div class="soon-button button border-black border-rad bg-white text-center">
			<a aria-label="Redirection vers la billetterie de l'événement a4z Trap" href="http://billetterie.a4z.fr" target="__blank"></a>
			<h2 class="font-size-m upper w-black">Acheter mes places</h2>
		</div>
	</div> -->
</section>