.section-soon {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 20px 0;

	.soon-title {
		margin: 20px;
	}

	.soon-affiche {
		display: flex;
		position: relative;
		width: 90%;
		max-width: 600px;
		margin-bottom: 50px;

		img {
			object-fit: contain;
			width: calc(100% - (var(--border-size-xs) * 2));
			background-color: var(--orange);
		}
	}

	.soon-button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		width: 85%;
		max-width: 500px;
		height: var(--button-h);
	}

    .soon-button {
		position: relative;
        width: 100%;
		transition-duration: 300ms;
    }

	.soon-button.fixed {
		position: fixed;
		bottom: 2%;
		width: 85%;
		height: var(--button-h);
		max-width: 500px;
	}
}