* {
	box-sizing: border-box;
}

body {
	background: var(--color-bg);
	margin: 0 auto;
	transition: background .3s ease-in-out;
}

a {
	display: inline-block;
	color: var(--color-text);
	text-decoration: none;
}

ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

.kensington-xl {
	font-family: var(--font-kensington);
	font-size: var(--fs-kensington-xl);
	line-height: 1;
	text-transform: uppercase;
}

.kensington-lg {
	font-family: var(--font-kensington);
	font-size: var(--fs-kensington-lg);
	/* line-height: var(--lh-kensington-lg); */
	text-transform: uppercase;
}

.pouler-lg {
	font-family: var(--font-pouler);
	font-size: var(--fs-pouler-lg);
	/* line-height: var(--lh-pouler-lg); */
}

.pouler-md {
	font-family: var(--font-pouler);
	font-size: var(--fs-pouler-md);
	/* line-height: var(--lh-pouler-md); */
}

.pouler-sm {
	font-family: var(--font-pouler);
	font-size: var(--fs-pouler-sm);
	/* line-height: var(--lh-pouler-sm); */
}