:root {
	--font-kensington: 'Kensington', sans-serif;
	--font-pouler: 'Pouler', sans-serif;

	--fs-kensington-xl: 6.25rem; /* 100px */
	--fs-kensington-lg: 2.8125rem; /* 45px */
	--fs-pouler-lg: 1.5625rem; /* 25px */
	--fs-pouler-md: 1.125rem; /* 18px */
	--fs-pouler-sm: 0.8125rem; /* 13px */

	--color-light-blue: #B2D5EC;
	--color-navy-blue: #111B29;
	--color-black: #0B0B0B;
	--color-beige: #DBDBDB;

	/* Thème clair (par défaut) */
	--color-bg: var(--color-light-blue);
	--color-text: var(--color-navy-blue);
	--color-burger-button-bg: transparent;
	--color-burger-button-border: var(--color-black);
	--color-burger-button-text: var(--color-black);
	--color-ticket-button-bg: var(--color-black);
	--color-ticket-button-border: var(--color-black);
	--color-ticket-button-text: var(--color-beige);

	/* Shadows */
	--shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);

	/* Header */
	--h-navbar-header: 7.5rem;
	--space-x-page: 1.25rem;
	--space-y-header: 8.5rem;

	--slider-items-count: 2;
}

[data-theme="dark"] {
	--color-bg: var(--color-navy-blue);
	--color-text: var(--color-beige);
	--color-burger-button-bg: transparent;
	--color-burger-button-border: var(--color-beige);
	--color-burger-button-text: var(--color-beige);
	--color-ticket-button-bg: var(--color-beige);
	--color-ticket-button-border: var(--color-beige);
	--color-ticket-button-text: var(--color-navy-blue);
}

@media screen and (min-width: 768px) {
	:root {
		--fs-kensington-xl: 7rem;
		--fs-kensington-lg: 3.25rem;
		--fs-pouler-lg: 2.5rem;
		--fs-pouler-md: 1.25rem;
		--fs-pouler-sm: 1rem;

		--space-x-page: 3rem;
		--slider-items-count: 3;
	}
}

@media screen and (min-width: 1024px) {
	:root {
		--fs-kensington-xl: 8rem;
		--fs-kensington-lg: 3.7rem;
		--fs-pouler-lg: 2.9rem;
		--fs-pouler-md: 1.75rem;
		--fs-pouler-sm: 1.25rem;
		--slider-items-count: 4;
	}
}